/*Para la paleta de colores 1*/
.Paleta_1.Top_bar{
  background-color: #A15B9F;
}
.Paleta_1 >.Boton:Hover{
  background-color: #774375;
}
.Paleta_1>.Encabezado {
  background-color: #A15B9F;
}
.Paleta_1 >.Ficha_juego >.Jugar{
  background-color: #EA63E6;
}
.Paleta_1 >.Ficha_juego{
  background-color: #7B51C9;
}
.Paleta_1 >.Ficha_juego{
  background-color: #7B51C9;
}
.Paleta_1 > .Creditos-cont >.Titulo{
  background-color: #774375;
}
.Paleta_1 > .Creditos-cont > h2{
  color: #774375;
}
#Bienvenida.Paleta_1> .botonesInicio>.botonInicio{
  background-color: #A15B9F;
}
#Bienvenida.Paleta_1> .bienvenida{
  background-color: #A15B9F;
}
#Lista_Juegos.Paleta_1{
  background-color: rgba(161, 91, 159, 0.5);
}
#Mejores-Puntajes.Paleta_1> .puntajes-juegos> .subEnc{
  background-color: #A15B9F;
}

/*Paleta de colores 2*/
.Paleta_2.Top_bar{
  background-color: #13289D;
}
.Paleta_2 >.Boton:Hover{
  background-color: #0f207c;
}
.Paleta_2>.Encabezado {
  background-color: #13289D;
}
.Paleta_2>.Ficha_juego{
  background-color: #452CAE;
}
.Paleta_2>.Ficha_juego >.Jugar{
  background-color: #0DB0D2;
}
.Paleta_2>.Ficha_juego{
  background-color: #452CAE;
}
.Paleta_2 > .Creditos-cont >.Titulo{
  background-color: #0f207c;
}
.Paleta_2 > .Creditos-cont > h2{
  color: #0f207c;
}
#Bienvenida.Paleta_2> .botonesInicio>.botonInicio{
  background-color: #13289D;
}
#Bienvenida.Paleta_2> .bienvenida{
  background-color: #13289D;
}
#Lista_Juegos.Paleta_2{
  background-color: rgba(108, 147, 204, 0.5);
}
#Mejores-Puntajes.Paleta_2 > .puntajes-juegos> .subEnc{
  background-color: #13289D;
}

/*Para la paleta de colores 3*/
.Paleta_3 >.Boton:Hover{
  background-color: #db3700;
}
.Paleta_3.Top_bar{
  background-color: #F03C00;
}
.Paleta_3>.Encabezado {
  background-color: #db3700;
}
.Paleta_3>.Ficha_juego >.Jugar{
  background-color: #F36700;
}
.Paleta_3>.Ficha_juego{
  background-color: #F08444;
}
.Paleta_3 > .Creditos-cont >.Titulo{
  background-color: #db3700;
}
.Paleta_3 > .Creditos-cont > h2{
  color: #db3700;
}
#Bienvenida.Paleta_3> .botonesInicio>.botonInicio{
  background-color: #F03C00;
}
#Bienvenida.Paleta_3> .bienvenida{
  background-color: #F03C00;
}
#Lista_Juegos.Paleta_3{
  background-color: rgba(240, 60, 0, 0.5);
}
#Mejores-Puntajes.Paleta_3 > .puntajes-juegos{
  background-color: rgba(240, 60, 0, 0.5);
}
#Mejores-Puntajes.Paleta_3 > .puntajes-juegos> .subEnc{
  background-color: #db3700;
}
