table {
    text-align: center;
    width: 60%;
}

table, th, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.Encabezado {
    background-color: #555555;
    color: white;
    font-family: "PressStart2P-Regular";
    padding: 5px;
    text-align: center;
    text-shadow: 4px 4px 8px #000000;
    width: 100%;
}

.puntajes-juegos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
}

.subEnc {
    background-color: #555555;
    color: white;
    font-family: "PressStart2P-Regular";
    font-size: 12px;
    margin: 20px auto;
    padding: 5px 0;
    text-align: center;
    text-shadow: 4px 4px 8px #000000;
    width: 100%;
}

#Mejores-Puntajes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px auto;
    width: 100%;
}

#Tetris {
    background-color: #831279;
}

#Buscaminas {
    background-color: rgb(210, 210, 210);
}

#Space {
    background-color: rgba(93, 42, 131, 0.42);
}