table {
    text-align: center;
    width: 60%;
}

table, th, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.Encabezado {
    background-color: #555555;
    color: white;
    font-family: "PressStart2P-Regular";
    padding: 5px;
    text-align: center;
    text-shadow: 4px 4px 8px #000000;
<<<<<<< HEAD
    text-align: center;
=======
>>>>>>> 90dc5f69d2b73b297101c429704f5d27636c5788
    width: 100%;
}

.puntajes-juegos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
}

.subEnc {
    background-color: #555555;
    color: white;
    font-family: "PressStart2P-Regular";
    font-size: 12px;
<<<<<<< HEAD
    margin-bottom: 20px ;
    text-align: center;
=======
    margin: 20px auto;
>>>>>>> 90dc5f69d2b73b297101c429704f5d27636c5788
    padding: 5px 0;
    text-align: center;
    text-shadow: 4px 4px 8px #000000;
    width: 100%;
}

#Mejores-Puntajes {
    display: flex;
    flex-wrap: wrap;
<<<<<<< HEAD
    width: 90%;
=======
    justify-content: center;
    margin: 30px auto;
    width: 100%;
>>>>>>> 90dc5f69d2b73b297101c429704f5d27636c5788
}

#Tetris {
    background-color: #831279;
}
#Tetris th {
    background-color: #55014e;
}
#Buscaminas {
    background-color: rgb(48, 68, 111);
}
#Buscaminas th {
    background-color: rgb(11, 38, 97);
}
#Space {
<<<<<<< HEAD
    background-color: rgba(31, 195, 2, 1);
}
#Space th{
    background-color: rgba(0, 97, 7, 1);
}
tr:nth-child(1){
  background-color: #b4960d;
}
tr:nth-child(2){
  background-color: #9d9d9d;
}
tr:nth-child(3){
  background-color: #94460e;
}
@font-face {
  font-family: "Mukta-Regular";
  src: url("../Fonts/Mukta-Regular.ttf");
}
=======
    background-color: rgba(93, 42, 131, 0.42);
}
>>>>>>> 90dc5f69d2b73b297101c429704f5d27636c5788
