@font-face {
  font-family: "PressStart2P-Regular";
  src: url("../../Fonts/PressStart2P-Regular.ttf");
}
button{
  font-family: "PressStart2P-Regular";
  margin-top: 10px;
  padding: 3px;
  color: white;
  border: 5px solid #430078;
}
.Informacion{
  position: relative;
  background-color: #1d1d1d;
  border: 5px solid #430078;
  color: white;
  font-family: "PressStart2P-Regular";
  font-size: 18px;
  padding: 5px;
}
.TAzulC{
 background-color: #00fff9;
 background-image: url("../Piezas/Tetris_pieza_azulC.png");
}
.TMorada{
 background-color: #70119c;
 background-image: url("../Piezas/Tetris_pieza_morado.png");
}
.TAmarilla{
 background-color: #d8f000;
  background-image: url("../Piezas/Tetris_pieza_amarillo.png");
}
.TNaranja{
 background-color: #dd7c00;
 background-image: url("../Piezas/Tetris_pieza_naranja.png");
}
.TAzul{
 background-color: #23119c;
  background-image: url("../Piezas/Tetris_pieza_azul.png");
}
.TVerde{
 background-color: #0ab100;
 background-image: url("../Piezas/Tetris_pieza_verde.png");
}
.Troja{
 background-color: #9c1111;
 background-image: url("../Piezas/Tetris_pieza_roja.png");
}
.Columna{
  width: 250px;
  height: 25px;
  display: flex;
}
.celda{
  height: 25px;
  width:10%;
}
.Si{
  background-color: #0ab100;
}.No{
  background-color: #e20000;
}
#Tetris_Juego{
  padding: 2%;
  position: relative;
  background-color: #831279;
  width: 80%;
  left: 8%;
  height: 550px;
  margin-top: 30px;
}
#Tablero{
  position: relative;
  width: 250px;
  height: auto;
  background-color: #1d1d1d;
  border: 5px solid #430078;
  top: 2%;
  left: 20%
}
#Info{
  text-align: center;
  padding: 15px;
  width: 250px;
  left: 68%;
  bottom: 500px;
}
#Puntaje{
  width: 150px;
  height: 50px;
  left: 18%;
}
#Proxima_Figura{
  width: 125px;
  height: 125px;
  left: 22%;
}
#Total_Filas{
  width: 150px;
  height: 50px;
  left: 18%;
}
button:focus {
   outline: none;
 }
#Info > h2{
  color: #fc00ce;
  font-family: "PressStart2P-Regular";
  font-size: 15px;
}
@media screen AND (max-width:1080px) {
  #Info{
    display: none;
  }
}
