<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../libs/jQuery/jquery-3.5.1.min.js"></script>
    <script src="../dynamics/Cookies.js" charset="utf-8"></script>
    <link rel="stylesheet" href="../libs/fontawesome_free-5-13-0/css/all.css">
    <link rel="stylesheet" href="../statics/css/Paletas.css">
    <link rel="stylesheet" href="../statics/css/Creditos_modales.css">
    <link rel="stylesheet" href="../statics/css/Top_nav_bar.css">
    <link rel="stylesheet" href="../statics/css/Fichas.css">
    <title>Arcadium | Juegos </title>
  </head>
  <body>
    <nav class="Top_bar">
        <span class="Boton" id="Inicio"><i class="fas fa-home"></i>Inicio</span>
        <span class="Boton" id="Juegos"><i class="fas fa-gamepad"></i>Juegos</span>
        <span class="Boton" id="Puntajes"><i class="fas fa-star"></i>Puntajes</span>
        <span class="Boton" id="Creditos"><i class="fas fa-laptop-code"></i>Créditos</span>
    </nav>
    <section id="Lista_Juegos">
      <div class="Encabezado">
        <h1>Lista de juegos</h1>
      </div>
      <div class="Ficha_juego">
        <img src="../statics/img/Tetris-img-ref.jpg" alt="Imagen Tetris">
        <div class="contenido">
          <h1 class="Titulo">Tetris</h1>
            El clásico Tetris con música renovada, intenta ganarle a tus
            amigos y llega a acumluar la mayor cantidad de filas para asi hacer tetris.
        </div>
        <button type="button" class="Jugar" name="Tetris">JUGAR</button>
      </div>
      <div class="Ficha_juego">
        <img src="../statics/img/Buscaminas-img-ref.jpg" alt="Imagen Tetris">
        <div class="contenido">
          <h1 class="Titulo">Buscaminas</h1>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <button type="button" class="Jugar" name="Buscaminas">JUGAR</button>
      </div>
      <div class="Ficha_juego">
        <img src="../statics/img/Invaders-img-ref.jpg" alt="Imagen Tetris">
        <div class="contenido">
          <h1 class="Titulo">Space Invaders</h1>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <button type="button" class="Jugar" name="Space_invaders">JUGAR</button>
      </div>
      <div class="Ficha_juego">
        <img src="../statics/img/Buscaminas-img-ref.jpg" alt="Imagen Tetris">
        <div class="contenido">
          <h1 class="Titulo">Buscaminas</h1>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <button type="button" class="Jugar" name="#">JUGAR</button>
      </div>
      <div class="Ficha_juego">
        <img src="../statics/img/Buscaminas-img-ref.jpg" alt="Imagen Tetris">
        <div class="contenido">
          <h1 class="Titulo">Buscaminas</h1>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <button type="button" class="Jugar" name="#">JUGAR</button>
      </div>
    </section>
    <script src="../dynamics/Lista_Juegos.js" charset="utf-8"></script>
    <script src="../dynamics/Barra_navegacion.js" charset="utf-8"></script>
  </body>
</html>
