<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../statics/css/Space_invaders.css">
    <!--<link rel="stylesheet" href="../lib/fontawesome">-->
    <title></title>
  </head>
  <body>
    <div id="modal" class="menu">
    <div id="Datos_Juego-cont" class="Datos-cont">
      <h1>Bienvenido a</h1>
      <span class="Nombre">Space Invaders</span><br>
      <button type="button" id="Iniciar_Juego" name="button">Jugar</button>
      <br>
    </div>
  </div>
  <div id="modal2" class="jugando">
    <div>
      <h1>Usted caballero ha fracasado en su misión</h1>
      <span>¿Le gustaría volver a intentar?</span><br>
      <button type="button" id="Volver_a_jugar" name="button">Jugar de nuez</button>
      <br>
    </div>
  </div>
    <div class="">
      <canvas id="canvas"></canvas>
    </div>
    <script type="text/javascript" src="../dynamics/JS/Space_invaders.js"></script>
  </body>
</html>
