<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <link rel="stylesheet" href="../statics/Tetris/css/Tetris.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div id="Tetris_Juego">
      <div id="Tablero">

      </div>
      <div id="Info" class="Informacion">
        <h2>Proxima Figura</h2>
        <div id="Proxima_Figura" class="Informacion">
        </div>
        <h2>Puntuacion</h2>
        <div id="Puntaje"class="Informacion">
          <p id="Puntuacion">0</p>
        </div>
        <h2>Filas Destruidas</h2>
        <div id="Total_Filas" class="Informacion">
          <P id="FilasD">0</P>
        </div>
        <button type="button" id="Musica" class="Si">Musica</button>
      </div>
    </div>
    <script src="../dynamics/Tetris/Tetrimonios.js" charset="utf-8"></script>
    <script src="../dynamics/Tetris/Funciones_Tetris.js" charset="utf-8"></script>
    <script src="../dynamics/Tetris/Tetris.js" charset="utf-8"></script>
  </body>
</html>
