<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../libs/jQuery/jquery-3.5.1.min.js"></script>
    <script src="../dynamics/Cookies.js" charset="utf-8"></script>
    <link rel="stylesheet" href="../libs/fontawesome_free-5-13-0/css/all.css">
    <link rel="stylesheet" href="../statics/css/Paletas.css">
    <link rel="stylesheet" href="../statics/css/Top_nav_bar.css">
    <link rel="stylesheet" href="../statics/css/Creditos_modales.css">
    <link rel="stylesheet" href="../statics/Tetris/css/Tetris.css">
    <link rel="stylesheet" href="../statics/Tetris/css/Datos-modales.css">
    <title>Arcadium | Tetris </title>
  </head>
  <body>
    <nav class="Top_bar">
      <span class="Boton" id="Inicio"><i class="fas fa-home"></i>Inicio</span>
      <span class="Boton" id="Juegos"><i class="fas fa-gamepad"></i>Juegos</span>
      <span class="Boton" id="Puntajes"><i class="fas fa-star"></i>Puntajes</span>
      <span class="Boton" id="Creditos"><i class="fas fa-laptop-code"></i>Créditos</span>
    </nav>
    <div id="Tetris_Juego">
      <div id="Datos_Juego" class="Datos-modales">
        <div id="Datos_Juego-cont" class="Datos-cont">
          <h1>Bienevnido a</h1>
            <span class="Troja">T</span>
            <span class="TVerde">e</span>
            <span class="TNaranja">t</span>
            <span class="TMorada">r</span>
            <span class="TAzulC">i</span>
            <span class="TAmarilla">s</span>
          <button type="button" id="Iniciar_Juego" name="button">Jugar</button>
          <button type="button" id="Controles" name="button">Controles</button>
          <br>
        </div>
      </div>
      <div id="Tablero">
      </div>
      <div id="Info" class="Informacion">
        <h2>Proxima Figura</h2>
        <div id="Proxima_Figura" class="Informacion">
        </div>
        <h2>Puntuacion</h2>
        <div id="Puntaje"class="Informacion">
          <p id="Puntuacion">0</p>
        </div>
        <h2>Filas Destruidas</h2>
        <div id="Total_Filas" class="Informacion">
          <P id="FilasD">0</P>
        </div>
        <button type="button" id="Musica" class="Si">Musica</button>
      </div>
    </div>
    <script src="../dynamics/Barra_navegacion.js" charset="utf-8"></script>
    <script src="../dynamics/Tetris/Tetrimonios.js" charset="utf-8"></script>
    <script src="../dynamics/Tetris/Funciones_Tetris.js" charset="utf-8"></script>
    <script src="../dynamics/Tetris/Tetris.js" charset="utf-8"></script>
  </body>
</html>
